body {
  background-color: #373f4c;
  margin: 0;
  padding: 0;
}

#pagewrap {
  width: 80%;
  height: auto;
  background-color: 222e42;
  margin: 0.5em auto;
  padding: 0.5em 0.5em 3em 0.5em;
  max-width: 1400px;
}

#flexwrapper {
  width: 80%;
  height: auto;
  background-color: 373f4c;
  display: flex; /*sets parent container to flex*/
  align-items: center;
  justify-content: space-around; /*sets spacing on horizontal axis*/
  margin: 3em auto 0 auto;
  padding: 0.5em;
}

h1.header {
  font-family: "roboto", thin;
  font-size: 6em;
  text-align: center;
  padding-top: 0.25em;
  color: white;
}

.box1 {
  width: 30%;
  height: 10em;
  background-color: #2055aa;
  text-align: left;
  padding: 0.5em;
  margin: 0.5em;
  overflow: hidden;
}

.box2 {
  width: 30%;
  height: 10em;
  background-color: #2055aa;
  text-align: left;
  padding: 0.5em;
  margin: 0.5em;
  overflow: hidden;
}

.box3 {
  width: 30%;
  height: 10em;
  background-color: #2055aa;
  text-align: left;
  padding: 0.5em;
  margin: 0.5em;
  overflow: hidden;
}

/*overflow: hidden; hides "content here" text as you squeeze down the window�set box heights to "auto" and remove overflow hidden as you add content*/

p {
  font-family: roboto;
  font-size: 1em;
  text-align: center;
  color: white;
}

footer {
  width: 80%;
  margin: 0 auto;
  height: autoem;
  background-color: #a11fa5;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  color: white;
  margin: 0.75em auto 1.5em auto;
  font-family: "Germania One";
  font-size: 2em;
}

/*MEEEEEDIAAAA QUERIES*/

@media only screen and (max-width: 800px) {


  #flexwrapper{
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  h1.header {
    font-size: 1.5em;
    padding-top: 0;
  }


.box1{
    width: 90%;
    margin: .5rem 0 .5rem .85rem;

    }

  .box2{
    width: 90%;
    margin: .5rem 0 .5rem .85rem;

    }

  .box3{
    width: 90%;
    margin: .5rem 0 .5rem .85rem;

    }


  footer span {
    font-size: 0.75em;
  }
}
